body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: #ffffff;
  color: #1e2e4f;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background: #192338;
  color: #fbf9e4;
  padding: 20px;
  font-size: 14px;
  /* text-align: center; */
}

.profile-pic {
  width: 220px;
  height: 220px;
  border-radius: 35%;
  margin-bottom: 15px;
  object-fit: cover;
}

/* .sidebar h1 {
  margin: 10px 0;
  font-size: 50px;
} */

.sidebar h2 {
  margin-top: 20px;
  font-size: 1.2em;
  border-bottom: 2px solid #8fb3e2;
  padding-bottom: 5px;
}

.sidebar a {
  color: #fbf9e4;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
  color: #8fb3e2;
}

.sidebar ol {
  list-style: circle;
  padding: 0;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px 40px;
  background: white;
}

.main-content h2 {
  color: #31487a;
  border-bottom: 2px solid #8fb3e2;
  padding-bottom: 5px;
}

.main-content ul {
  padding-left: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

ol {
  list-style: circle;
  padding: 0;
}

.name {
  font-size: 50px;
  font-family: Verdana;
}

.btech {
  font-size: 20px;
  font-family: monospace;
}

@media (max-width: 600px) {
  body {
    width: 100%;
    /* padding: 10px; */
  }

  h1 {
    font-size: 1.8em;
  }
}
